   <% if bug == @current_bug %>
      <div id="current_bug" class="article">
    <% else %>
      <div class="article"> 
        <% end %>
        
<table>
    
<tbody>
    
    <tr>
        <td><%= bug.title %></td>
       
        <td><%= bug.description %></td>
        
        <td><%= (bug.user.try(:lname) || "NA") %></td>

        <td><%= bug.issue_type %></td>
       
        <td><%= bug.priority %></td>
       
        <td><%= bug.status %></td>
       
        <td><%= link_to 'Show', bug %></td>
        <td><%= link_to 'Edit', edit_bug_path(bug), remote: true %></td>
        <td><%= link_to 'Destroy', bug, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
    
    </tr>

</tbody>

</table>